* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #11093a;
}

.text-box {
  display: inline-block;
  padding: 20px 150px;
  border: 1px solid white;
  border-radius: 30px;

  &-answer {
    width: 60%;
    padding: 20px 0;
  }
}

.temporary {
  background-color: orange;
}

.correct {
  background-color: #6ecd07;
}

.wrong {
  background-color: red;
}

.blocked {
  pointer-events: none;
}
