* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #11093a;
}

.text-box {
  display: inline-block;
  padding: 20px 150px;
  border: 1px solid white;
  border-radius: 30px;

  &-answer {
    width: 60%;
    padding: 20px 0;
    transition: all 0.5s;

    &:hover {
      box-shadow: 0px 0px 15px 2px rgba(white, 0.5);
      cursor: pointer;
    }
  }
}

.temporary {
  background-color: #ffa500;
}

.correct {
  background-color: #6ecd07;
  border-color: #6ecd07;
}

.wrong {
  background-color: red;
  border-color: red;
}

.blocked {
  pointer-events: none;
}

.blocked-blur {
  pointer-events: none;
  filter: brightness(70%);
}
